.screen {
    transition: opacity 0.5s ease-in-out;
}

.screen:not(.active) {
    display: none;
    opacity: 0;
}

.screen.active {
    display: block;
    opacity: 1;
}

button {
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}
